@{
    ViewData["Title"] = "SignUp";
}
@model Domain.User
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>SignUp</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>SignUp</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container os">
            <form asp-controller="SignIn" method="post">

                <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 " style="margin-left: 34%;">
                    <label style="font-family: cursive;    font-size: 110%;">Name</label><br />
                    <input class="form-control" asp-for="Name" placeholder=" First Name. ..." style="border-radius: 9px;background-color: #ecedf3;border-color: white;max-width: 30%;width: 40%;" /><br />
                    
                    <label style="font-family: cursive;    font-size: 110%;">Date Of Birth</label><br />
                    <input class="form-control" asp-for="DateOfBirth" type="date" placeholder=" Year Of Birth ...." style="border-radius: 9px;background-color: #ecedf3;border-color: white;max-width: 30%;width: 40%;" /><br />
                    
                    <label style="font-family: cursive;    font-size: 110%;">Work Place</label><br />
                    <input class="form-control" asp-for="WorkPlace" placeholder=" Work Place ...." style="border-radius: 9px;background-color: #ecedf3;border-color: white;max-width: 30%;width: 40%;" /><br />
                    
                    <label style="font-family: cursive;    font-size: 110%;">Filed</label><br />
                    <input class="form-control" asp-for="Field" placeholder=" Filed ...." style="border-radius: 9px;background-color: #ecedf3;border-color: white;max-width: 30%;width: 40%;" /><br />
                    
                    <label style="font-family: cursive;    font-size: 110%;">University</label><br />
                    <input class="form-control" asp-for="UniversityLocation" placeholder="University Location ...." style="border-radius: 9px;background-color: #ecedf3;border-color: white;max-width: 30%;width: 40%;" /><br /><br />

                    <label style="font-family: cursive;    font-size: 110%;">Profile Image</label><br />
                    <input type="file" class="form-control" name="Profile" placeholder="Profile ...." style="border-radius: 9px;background-color: #ecedf3;border-color: white;max-width: 30%;width: 40%;" /><br /><br />

                    
                </div>
                <div class="col-xs-6 col-sm-6 col-sm-6 col-lg-6 " style="margin-left: 44%;">
                    
                    <button type="submit" class="btn btn-lg btn-outline-success" style="/*border-radius: 52px;background-color: #212431b3;border-color: white; color: antiquewhite;*/ font-family: emoji;">
                        <i class="bi bi-person-plus"></i>
                        </button>
                </div>
            </form>
        </div>
    </section>

</main><!-- End #main -->
